{% extends 'layout.html' %} {% block cta %}
<!--HOME -->
<div id="top-cta">
    <a class="button rounded effect icon-left" href="/"><span>HOME</span></a>
    <a class="button color rounded effect icon-left" href="#register"><span><i
            class="fa fa-user"></i>Register Now</span></a>
</div>
{% endblock %} {% block content %}
<!-- PAGE TITLE -->
<section id="page-title" class="page-title page-title-center text-dark"
         style="background-image:url(images/parallax/page-title-parallax.jpg);">
    <div class="container">
        <div class="page-title col-md-8">
            <h1>Team Excellence</h1>
            <h2>with Adelina Cirstea</h2>
            <span>A unique Experiential Learning Program to take your organization from Individual to Team Success</span>
        </div>
        <div class="breadcrumb col-md-4">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><a href="#">Home</a></li>
                <li class="active"><a href="/excellence">Excellence</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- END: PAGE TITLE -->


<!-- CONTENT -->
<section class="content" style="padding-bottom: 0px;">
    <div class="container" style="padding-right: 0px;padding-left: 0px;">
        <div class="row">
            <!-- post content -->
            <div class="post-content float-right post-modern col-md-8">
                <!-- Post item-->
                <div class="post-item" style="margin-bottom: 0px;border-bottom: none;">
                    <div class="post-content-details">
                        <div class="post-title">
                            <h2>Attract and Retain valuable Employees.</h2>
                        </div>

                        <div class="post-description">
                            <p>
                                Skills, People, Teams, Motivation, Leadership and Performance are the key themes on
                                every business leaders objectives for 2016.
                                These themes will become even more important than ever if we consider the rather gloomy
                                forecasts of experts, who warn of the onset of a profound human resources crisis in the
                                coming years.
                                A company's competitive advantage in such times will definitely be people who will drive
                                excellence in services and products to customers.
                            </p>

                            <p> We start from the premise that no one is perfect, but a team can achieve perfection.
                                Moreover, a simple punctual action is not sufficient for the development of an employee
                                or a team.
                                A simple training skills development must be backed by a number of activities like team
                                building
                                and experiential learning aimed at concrete and consistent progress over time and
                                monitor
                                the results.
                            </p>

                            <p>Further for any company working in a highly competitive environment, employee attachment
                                to
                                brand is becoming extremely essential. Such attachment can be developed not through only
                                attractive salaries
                                but by helping employees focus on the company's core values. </p>


                            <p>In this context, we have created a comprehensive employee development, called - "Team
                                Excellence - 7 steps
                                from individual to team success" meant to produce results and developments to
                                operational or functional teams.</p>

                            <blockquote>
                                <p> Team Excellence program combines the benefits of training programs, team building
                                    and social responsibility, bringing them together under the umbrella of a program of
                                    experiential learning, easily adaptable to each company.
                                </p>
                                <small><cite>Adelina Cirstea</cite></small>
                            </blockquote>

                            <img src="/images/excellence3.jpg" class="p-b-15 img-responsive img-rounded">


                            <h4>How can Experential Learning help your Organization?</h4>
                            <p>Our program helps develop the following key attributes in your employees</p>

                            <ul>
                                <li><b>Self Confidence</b> - helping the participant to differentiate between vanity and
                                    confidence itself
                                </li>
                                <li><b>Internal Motivation</b> - helping the participant to regain inner strength to act
                                    and perform on a regular basis
                                </li>
                                <li><b>Competitiveness</b> - helping the participant to control their anxiety related to
                                    competition and to perform well under pressure
                                </li>
                                <li><b>Perseverance</b> - equipping the participant with the tools (psychological and
                                    professional) needed to accomplish the task
                                </li>
                                <li><b>Concentration</b> - participant learning how to trigger and keep their focus
                                    the goal during the sales process
                                </li>
                                <li><b>Psycho-Emotional Balance</b> - providing the necessary scientific methods to help
                                    participants
                                    surpass the limits of their virtual experience, psychological mind and keep the
                                    balance on core performance
                                </li>
                                <li><b>Strategic thinking</b> - engaging participant to act according to plans and
                                    strategies
                                    set in advance.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
            <!-- END: post content -->
            <!-- Sidebar-->
            <div class="sidebar sidebar col-md-4">
                <div class="well well-sm  row">
                    <div class=" p-t-20">
                        <div class="image-box circle-image large"><img alt="" src="/images/adelina.jpg" class=""></div>
                        <div class="image-box-description text-center">
                            <h4>Adelina Cirstea</h4>
                            <p class="subtitle">Trainer, Business & Customer Excellence Expert</p>
                            <hr class="line">
                            <div>
                                Adelina has over 20 Years of experience in High level Marketing, Sales and Business
                                Development.
                                <br/>
                                Over 150 Companies and Entrepreneurs have already taken benefit of her business coaching
                                program.
                                She is currently working on her revolutionary new training program “Growing People - The
                                Heart of Organizational Transformation”.
                            </div>
                            <div class="social-icons social-icons-colored m-t-10 text-center">
                                <ul>
                                    <li class="social-linkedin"><a
                                            href="https://ro.linkedin.com/in/adelina-cirstea-4440a715"><i
                                            class="fa fa-linkedin"></i></a></li>
                                    <li class="social-digg"><a href="mailto:adelina@sharexperience.ro "><i
                                            class="fa fa-envelope"></i></a></li>
                                    <li class="social-xing"><a href="tel:+400734316768"><i class="fa fa-phone"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seperator"><i class="fa fa-diamond"></i></div>
                <div class="row" id="register">
                    <div class="text-center">
                        Next Workshop
                        <h2>20th July 2016</h2>
                    </div>
                    <div class="row text-center">
                        <div class="countdown small" data-countdown="2016/07/20 12:30:00" data-animation-delay="600"
                             data-animation="fadeInUp"></div>
                    </div>
                </div>
                <div class="seperator"></div>

                <div class="row">
                    <div class="well well-sm">
                        <form id="contactForm" class="form-horizontal" method="post" action="/excellence/register">
                            <fieldset>
                                <legend class="text-center"
                                        style="padding: 20px 0px;font-size: 18px; font-family: 'Open Sans', sans-serif;">
                                    Register for Introductory Workshop
                                </legend>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <input required id="name" name="name" type="text" placeholder="Name"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-12">
                                        <input email id="email" name="email" type="text" placeholder="Email Address"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <input number id="phone" name="phone" type="text" placeholder="Phone"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" id="message" name="message"
                                                  placeholder="Tell us more about your team - number of employees, scope, average age and main skills that you would like to be improved"
                                                  rows="7"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button id="contactFormSubmitBtn" type="submit" class="btn btn-primary btn-lg">
                                            Register
                                        </button>
                                        <p id="contactFormSubmitResult"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END: Sidebar-->
        </div>
    </div>
</section>
<!-- END: SECTION -->


<div class="jumbotron jumbotron-fullwidth background-colored text-light">
    <div class="container">
        <h3>Need More Details?</h3>
        <p>Contact us with more information about your organization and we will help you tailor our program to achieve
            your specific people development objectives
        </p>
        <a class="button large transparent rounded effect icon-left" data-target="#modal" data-toggle="modal"
           href="#"><span><i class="fa fa-cloud"></i>Contact Us</span></a>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label">Improve Your Team Performance Now</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form id="modalContactForm" method="post" url="/excellence/contact">
                            <p>Leave us your email and phone number and we will get in touch</p>
                            <div class="form-group">
                                <label class="sr-only">Your Email</label>
                                <input id="email2" name="email" type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Phone Number</label>
                                <input id="phone2" name="phone" type="number" class="form-control"
                                       placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Query</label>
                                <textarea class="form-control" id="message2" name="message"
                                          placeholder="Tell us more about your query"
                                          rows="7"></textarea>
                            </div>

                            <div class="form-inline form-group">
                                <button id="modalFormBtn" class="btn btn-primary" type="submit">Contact Me</button>
                                <p id="modalFormSubmitResult"></p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/vendor/jquery.validate/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#contactForm').validate({
            rules: {
                name: {
                    minlength: 3,
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    number: true
                }
            },
            errorElement: 'span'
        });
        $('#modalContactForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    number: true
                }
            },
            errorElement: 'span'
        });

        $("#contactForm").submit(function (e) {
            e.preventDefault();
            if ($('#contactForm').valid()) {
                $('#contactFormSubmitBtn').attr("disabled", true);
                var data = $('#contactForm').serialize();
                $.post('/excellence/register', data).done(function (data) {
                    $('#contactFormSubmitResult').text(data)
                }).fail(function (data) {
                    $('#contactFormSubmitResult').text(data);
                    $('#contactFormSubmitBtn').attr("disabled", false);
                });
            }
        });

        $("#modalContactForm").submit(function (e) {
            e.preventDefault();
            if ($('#modalFormBtn').valid()) {
                $('#modalFormBtn').attr("disabled", true);
                var data = $('#modalContactForm').serialize();
                $.post('/excellence/contact', data).done(function (data) {
                    $('#modalFormSubmitResult').text(data)
                }).fail(function (data) {
                    $('#modalFormSubmitResult').text(data);
                    $('#modalFormBtn').attr("disabled", false);
                });
            }
            console.log('Contact Form Submitted');
        });

    });
</script>

{% endblock %}