{% extends 'layout.html' %} {% block cta %}
<!--HOME -->
<div id="top-cta">
    <a class="button color rounded effect icon-left" href="/"><span><i class="fa fa-home"></i>HOME</span></a>
</div>
{% endblock %} {% block content %} -->
<!-- PAGE TITLE -->

<section id="page-title" class="page-title-parallax page-title-center text-dark" style="background-image:url(images/parallax/page-title-parallax.jpg);">
  <div class="container">
    <div class="page-title col-md-8">
      <h1>MoveWithin Price Plans</h1>
      <span>Simple pricing to suit the needs of your Organization</span> </div>
    <div class="breadcrumb col-md-4">
      <ul>
        <li><a href="#"><i class="fa fa-home"></i></a> </li>
        <li><a href="#">Home</a> </li>
        <li class="active"><a href="/pricing">Pricing</a> </li>
      </ul>
    </div>
  </div>
</section>
<!-- END: PAGE TITLE --> 

<!-- Pricing Table Default -->
<section id="content">
  <div class="container"> 
    
    <!-- Pricing Table -->
    <div class="hr-title hr-long center"><abbr>Default pricing table</abbr> </div>
    <div class="row">
      <div class="pricing-table">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="plan">
            <div class="plan-header">
              <h4>Economy Plan</h4>
              <p class="text-muted">Plan short description</p>
              <div class="plan-price"><sup>$</sup>6<span>/mo</span> </div>
              <a class="button black-light button-3d rounded effect icon-bottom" href="#"><span><i class="fa fa-shopping-cart"></i>Add to Cart</span></a> </div>
            <div class="plan-list">
              <ul>
                <li><i class="fa fa-globe"></i>Unlimited Websites</li>
                <li><i class="fa fa-thumbs-up"></i>Unlimited Storage</li>
                <li><i class="fa fa-signal"></i>Unlimited Bandwidth</li>
                <li><i class="fa fa-user"></i>1000 Email Addresses</li>
                <li><i class="fa fa-star"></i>Free domain with annual plan</li>
                <li><i class="fa fa-rocket"></i>4X Processing Power</li>
                <li><i class="fa fa-server"></i>Premium DNS</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="plan featured">
            <div class="plan-header">
              <h4>Deluxe Plan</h4>
              <p class="text-muted">Plan short description</p>
              <div class="plan-price"><sup>$</sup>20<span>/mo</span> </div>
              <a class="button red button-3d rounded effect icon-bottom" href="#"><span><i class="fa fa-shopping-cart"></i>Add to Cart</span></a> </div>
            <div class="plan-list">
              <ul>
                <li><i class="fa fa-globe"></i>Unlimited Websites</li>
                <li><i class="fa fa-thumbs-up"></i>Unlimited Storage</li>
                <li><i class="fa fa-signal"></i>Unlimited Bandwidth</li>
                <li><i class="fa fa-user"></i>1000 Email Addresses</li>
                <li><i class="fa fa-star"></i>Free domain with annual plan</li>
                <li><i class="fa fa-rocket"></i>4X Processing Power</li>
                <li><i class="fa fa-server"></i>Premium DNS</li>
                <li class="plan-featured-item text-center">1 month free trial</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="plan">
            <div class="plan-header">
              <h4>Ultimate Plan</h4>
              <p class="text-muted">Plan short description</p>
              <div class="plan-price"><sup>$</sup>80<span>/mo</span> </div>
              <a href="#" class="button black-light button-3d rounded effect icon-bottom"><span><i class="fa fa-shopping-cart"></i>Add to Cart</span></a> </div>
            <div class="plan-list">
              <ul>
                <li><i class="fa fa-globe"></i>Unlimited Websites</li>
                <li><i class="fa fa-thumbs-up"></i>Unlimited Storage</li>
                <li><i class="fa fa-signal"></i>Unlimited Bandwidth</li>
                <li><i class="fa fa-user"></i>1000 Email Addresses</li>
                <li><i class="fa fa-star"></i>Free domain with annual plan</li>
                <li><i class="fa fa-rocket"></i>4X Processing Power</li>
                <li><i class="fa fa-server"></i>Premium DNS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Pricing Table -->
    
    <!-- END: Pricing Table Colored four columns--> 
  </div>
</section>
<!-- END: Pricing Table Default --> 

{% endblock %} {% block customScript %}

{% endblock %}

